# SPDX-License-Identifier: GPL-2.0-only
# Example: rotate IMEI on a schedule (prefer LuCI → Services → GL.iNet Privacy → IMEI rotation:
# cron_enabled + cron_interval_hours; applies /usr/libexec/glinet-privacy/apply-rotate-imei-cron.sh).
# 0 */6 * * * /usr/bin/rotate_imei.sh
# After you have documented legal compliance, you may silence repeated syslog legal lines:
# 0 */6 * * * ROTATE_IMEI_SUPPRESS_LEGAL_LOG=1 /usr/bin/rotate_imei.sh
